body{
    background-image: url(icon/IMG-20240420-WA0018.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-position: relative; 
    background-size: 140%;
}

.Productos{
    margin: 20px;
}
.precios{
    left: 75%;
    position: absolute;
}
.Menu{
    padding:10px;
    line-height:1.5em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 3vh;
    font-family: "Platypi", serif;
    text-shadow: 0 0 15px rgb(182, 14, 140), 0 0 30px rgb(182, 14, 140), 0 0 50px rgb(182, 14, 140);
    color: #fff;
}

.neon{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 10vh;
    text-shadow: 0 0 15px blue, 0 0 15px blue, 0 0 30px blue;
    font-family: "Platypi", serif;
}
.titulo{
    text-align: center;
    font-family: "Platypi", serif;
    text-shadow: 0 0 15px blue, 0 0 30px blue, 0 0 50px blue;
    color: white; 
    font-size: 6vh;
}
